<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SandboxDatabaseConnection" connectionString="data source=(LocalDB)\v11.0;attachdbfilename=C:\GitHub\MVCSandbox\MVCSandbox\MVCSandbox\App_Data\SandboxDatabase.mdf;integrated security=True" providerName="System.Data.SqlClient" />
    <!-- <add name="SandboxDatabaseConnection" connectionString="data source=.\sqlexpress;initial catalog=SandboxDatabase;integrated security=True" providerName="System.Data.SqlClient" /> -->   
  </connectionStrings>
</configuration>